<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Appareils</h2>
      <ul class="list-group">
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
        <app-appareil></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onClickTurnOn()">Turn everything on
      </button>
      <!-- [] to link disable property to type script, disabled when isAuth === false-->
    </div>
  </div>
</div>
