<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Appareils</h2>
      <p>Update :{{lastUpdate| async  | date :'short' | uppercase}}</p>
      <!-- Need to precised async to specify waiting for promise before display-->
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils ;let i=index"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [index]="i"></app-appareil>
      </ul>
      <!-- Don't forget to put square brackets to link content of variable to component property-->
      <!-- Need to put doubles quotes to appareil status to passed string directly if not it's a variable-->
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onClickTurnOn()">Turn everything on
      </button>
      <button class="btn btn-danger"
              [disabled]="!isAuth"
              (click)="onClickTurnOff()">Turn everything off
      </button>
      <!-- [] to link disable property to type script, disabled when isAuth === false-->
    </div>
  </div>
</div>
